@import url("https://fonts.googleapis.com/css?family=Quicksand:wght˛300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #2d05f2, #fe7bfe);
}

.container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(15px);
  border-top: 1 px solid rgba(255, 255, 255, 0.02);
  border-left: 1 px solid rgba(255, 255, 255, 0.02);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.container .calculator {
  position: relative;
  display: grid;
  gap: 10px;
  padding: 10px;
}

.container .calculator .value {
  grid-column: span 4;
  height: 100px;
  text-align: right;
  outline: none;
  border: none;
  border-radius: 8px;
  padding-right: 10px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.08);
  color: white;
  border-bottom: 1 px solid rgba(255, 255, 255, 0.02);
  border-right: 1 px solid rgba(255, 255, 255, 0.02);
  transition: 0.5s;
}

.container .calculator .value::placeholder {
  color: white;
}
.container .calculator span {
  display: grid;
  place-items: center;
  width: 75px;
  height: 75px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
  border-bottom: 1 px solid rgba(255, 255, 255, 0.02);
  border-right: 1 px solid rgba(255, 255, 255, 0.02);
  transition: 0.5;
}

.container .calculator span:hover {
  transition: 0;
  background-color: rgba(255, 255, 255, 0.05);
}

.container .calculator span:active {
  background-color: #15ff45;
  color: #192021;
  font-size: 20px;
  font-weight: 500;
}

.container .calculator .null,
.container .calculator .clear {
  grid-column: span 2;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.05);
}

.container .calculator .plus {
  grid-row: span 2;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.05);
}
